@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=JetBrains%20Mono");

:root {
  --textcolor: #FFFFFF;
  --textcolorhover: #000000;
  --background-color: #0D0907;
  --boxbackground: #121212;
  --projectbackground: #343434;
  --projectbackgroundhover: #CBCBCB;
  --boxgrad1: #3A1C71;
  --boxgrad2: #FFAF7B;
  --iconcolor: #FFFFFF;
  --iconcolorhover: #565656;
  --iconbackgroundhover: #D3D3D3;
}

body {
  color: var(--textcolor);
  background-color: var(--background-color);
  text-align: center;
  font-family: "Poppins";
}

h1 {
  font-family: "JetBrains Mono";
}

.box {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  border: double 10px transparent;
  border-radius: 30px;
  /*CBCBCB*/
  background-image: linear-gradient(var(--boxbackground), var(--boxbackground)),
    linear-gradient(to bottom right, var(--boxgrad1) 0%, var(--boxgrad2) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-image-slice: 1;
}

#firstbox {
  margin-top: 100px;
}

#firstbox a {
  color: var(--iconcolor);
  font-size: 24px;
  padding: 5px;
}

#firstbox a:hover {
  color: var(--iconcolorhover);
  background-color: var(--iconbackgroundhover);
  border-radius: 5px;
}

#margin {
  margin-bottom: 20px;
}

p {
  margin-left: 50px;
  margin-right: 50px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--textcolor);
}

button {
  padding: 10px;
  font-family: Montserrat;
  border-style: solid;
  border-color: white;
  background-color: var(--boxbackground);
  color: var(--text-color);
}

button:active {
  transform: translateY(2px);
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: var(--projectbackground);
  border-radius: 5px;
  margin: auto;
}

.child:hover {
  box-shadow: 5px -5px teal;
  transform: translate(-5px, 5px);
}